// 選択された日の体重・体脂肪データの文字
.select-text {
  text-align: center;
  font-size:  25px;
  color:  blue;
}

// 最新の体重・体脂肪データ
.latest-text {
  text-align: center;
  font-size: 25px;
  color: red;
}

// グラフ
.graph {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 10px;
}

.month {
  padding: 10px, 15px 5px 10px;
  margin:  10px 20px;
  background-color: #A7F1FF;
}
.week {
  padding: 10px, 15px 5px 10px;
  margin:  10px 20px;
  background-color: #AEFFBD;
}

.graph-text {
  font-size: 22px;
  text-align: center;
}
.table-value-large {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.table-value-small {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 16px;
  color: blue;
  font-weight: bold;
}