// 余白リセット 
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "ヒラギノ明朝 ProN W3";
}
 
// サイト共通コンテナ 
.container {
  max-width: 1000px;
	margin: 0 auto;
  background-color: #efefef;
  text-align: center;
}

// float解除用 
.clear_list {
  content: "";
  display: block;
  clear: both;
}
 
// ヘッダー部スタイル設定 
header {
  background-color: #efefef;
}
.header_left {
  float: left;
}

footer {
  margin-top: 20px;
}

// サイトタイトル
.site_title {
  font-size: 40px;
  margin-left: 25px;
  padding-top: 20px;
}
// 未ログイン時のログイン/新規登録表示
.login_nav {
  font-size: 23px;
  margin-left: 60px;
  padding-top: 10px;
}

// ログイン時のログアウト表示
.sign_out_nav {
  font-size: 23px;
  text-align: center;
  padding-top: 10px;
}

// お問い合わせはこちらから
#site_reserve {
	float: right;
	font-size: 16px;
	text-align: right;
  margin-right: 20px;
  margin-top: 40px;
}
// 電話番号
.site_tel {
	font-size: 1.5em;
	color: #C20D23;
}

// ナビゲーション部分スタイル
nav {
  background-color: #C20D23;
}
 
nav ul {
  list-style: none;
}
 
nav ul::after {
  content: "";
  display: block;
  clear: both;
}
 
nav li {
	float: left;
	width: 33%;
	text-align: center;
}
 
nav a {
	display: block;
	text-decoration: none;
	color: #fff;
}
nav a:hover {
	opacity: 0.7;
}


/* メイン部スタイル設定 */

// 「必須」のアイコン
.indispensable {
  background: #ea352d;
  margin-left: 4px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

// 「筋トレしていてこんなことありませんか？」スタイル指定
#main_image img {
	width: 80%;
  margin-bottom: 20px;
}

.main_appeal {
  text-align: center;
  margin: 50px 50px 20px 50px;
}

.main_question {
  font-size: 1.8em;
}

// 「悩み」部分スタイル指定
.appeal {
  position: relative;
  left: 50%;
  font-size: 20px;
  margin-bottom: 7px;
}

.appeal_box {
  position: relative;
  float: right;
  left: -50%;
  margin-bottom: 20px;
}

// サブイメージスタイル指定
#sub_image img {
  width: 80%;
  margin-bottom: 20px;
}

.sub_text {
  font-size: 20px;
  text-align: center;
  margin: 50px;
}

// サービス紹介部分スタイル指定
#concept {
  font-size: 1.3em;
	text-align: center;
	margin-bottom: 40px;
}
 
#concept_logo {
	margin-bottom: 5px;
  width: 40%;
}

#start_logo {
  width: 80%;
}
// #concept h2 {
// 	margin-right: 25px;
// }

// 新規登録してTrainingMemoを始める
.user_nav {
  font-size: 30px;
  margin-bottom: 10px;
  padding: 20px 0;
}

footer {
	background-color: #C20D23;
	color: #fff;
	text-align: center;
}



//トレーニング保存・体組成保存・データを見るテキスト
.select-action {
  font-size: 25px;
  text-align: center;
}

// トレーニング種目・重さ・体重体脂肪選択
.input-nav {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

// ログイン・新規登録の文字
.form-heading {
  text-align: center;
  margin: 10px 0 10px 0;
}
// 各入力フォームのテキスト
.devise-form {
  font-size: 20px;
  margin: 4px;
}
// ログインする/新規登録ボタン
.actions {
  padding-bottom: 20px;
}
// ログインページ/新規登録ページ遷移ボタン
.btn-info {
  margin-bottom: 20px;
}
// 入力フォームの幅
.form-input {
  width: 40%;
}

// マイページのユーザーネーム）
.username {
  font-size: 30px;
  text-align: center;
  color: white;
}

// マイページのイメージ画像
.my-page-box {
  padding-bottom: 20px;
  background-image: url(my-page-image1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.action-box {
  display: flex;
  justify-content: center;
}



.run-btn {
  margin: 5px 8px;
}


.latest-text {
  text-align: center;
  font-size: 25px;
  color: red;
}

// 体成分グラフページ・max重量ページ遷移ボタン
.next-page {
  display: flex;
  justify-content: center;
}

// 体脂肪分析ページの最新データ表示
.latest-box {
  background-color: #FFF;
  width: 100vw;
  min-width: 80px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
}

.latest-body-data {
  width: 100%;
}

// 日付・体重・体脂肪率・体調表示
.latest-data {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 16px;
  text-align: center;
}

// DBの最新のデータ表示
.latest-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 16px;
}

.edit-delete-box {
  display: flex;
  justify-content: center;
  list-style: none;
}
.edit-box {
  margin-right: 15px;
}
  
.delete-box {
  margin-left: 15px;
}


// 日付選択
.select-date {
  display: flex;
  justify-content: center;
}

// 日付選択(失敗時)
.select-date-empty {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

// 非表示の際の表示
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  width: auto;
  padding-top: 15px;
  background-color: red;
  font-size: 20px;
}

// MAX重量
.max-box {
  background-color: #FFF;
  width: 100vw;
  min-width: 80px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
}

.max-body-data {
  width: 100%;
}


.max-data {
  width: 33%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 16px;
  text-align: center;
}

.max-value {
  width: 33%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 16px;
  text-align: center;
}