// 余白リセット 
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "ヒラギノ明朝 ProN W3";
}
 
// サイト共通コンテナ 
.container {
  max-width: 1000px;
	margin: 0 auto;
  background-color: #efefef;
  text-align: center;
}

// float解除用 
.clear_list {
  content: "";
  display: block;
  clear: both;
}
 
// ヘッダー部スタイル設定 
header {
  background-color: #efefef;
}
.header_left {
  float: left;
}

footer {
  margin-top: 20px;
}

// サイトタイトル
.site_title {
  font-size: 40px;
  margin-left: 25px;
  padding-top: 20px;
}
// 未ログイン時のログイン/新規登録表示
.login_nav {
  font-size: 23px;
  margin-left: 60px;
  padding-top: 10px;
}

// ログイン時のログアウト表示
.sign_out_nav {
  font-size: 23px;
  text-align: center;
  padding-top: 10px;
}

// お問い合わせはこちらから
#site_reserve {
	float: right;
	font-size: 16px;
	text-align: right;
  margin-right: 20px;
  margin-top: 40px;
}
// 電話番号
.site_tel {
	font-size: 1.5em;
	color: #C20D23;
}

// ナビゲーション部分スタイル
nav {
  background-color: #C20D23;
}
 
nav ul {
  list-style: none;
}
 
nav ul::after {
  content: "";
  display: block;
  clear: both;
}
 
nav li {
	float: left;
	width: 33%;
	text-align: center;
}
 
nav a {
	display: block;
	text-decoration: none;
	color: #fff;
}
nav a:hover {
	opacity: 0.7;
}

/* メイン部スタイル設定 */

// 「必須」のアイコン
.indispensable {
  background: #ea352d;
  margin-left: 4px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

// 新規登録してTrainingMemoを始める
.user_nav {
  font-size: 30px;
  margin-bottom: 10px;
  padding: 20px 0;
}

footer {
	background-color: #C20D23;
	color: #fff;
	text-align: center;
}

// トレーニング種目・重さ・体重体脂肪選択
.input-nav {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

// 入力フォームの幅
.form-input {
  width: 40%;
}

// 見たい日付を選択
.action-box {
  display: flex;
  justify-content: center;
}

// マイページへ戻る/前のページへ戻るの配置
.box-position {
  padding: 15px;
}


//データ表示テーブルBOX
.data-box {
  background-color: #FFF;
  width: 100vw;
  min-width: 80px;
  padding: 0 10vw;
  display: flex;
  align-items: center;
}

// テーブル親
.table-data-box {
  width: 100%;
}

// テーブルのタイトル
.table-data {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 16px;
  text-align: center;
}

// テーブルの表示結果
.table-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 16px;
}

// 編集削除BOX親
.edit-delete-box {
  display: flex;
  justify-content: center;
  list-style: none;
}

// 編集BOX
.edit-box {
  margin-right: 15px;
}
  
// 削除BPX
.delete-box {
  margin-left: 15px;
}

// 日付選択
.select-date {
  display: flex;
  justify-content: center;
}

// 失敗時の日付選択フォーム
.select-date-empty {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

// 「データはありません」表示
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  width: auto;
  padding-top: 15px;
  background-color: red;
  font-size: 20px;
}

// 編集時のタイトルテキスト
.edit-text {
  font-size: 25px;
  font-weight: bold;
}
