// 「筋トレしていてこんなことありませんか？」スタイル指定
#main_image img {
	width: 80%;
  margin-bottom: 20px;
}

.main_question {
  font-size: 1.8em;
}

// 「悩み」部分スタイル指定
.appeal_box {
  position: relative;
  float: right;
  left: -50%;
  margin-bottom: 20px;
}

.appeal {
  position: relative;
  left: 50%;
  font-size: 20px;
  margin-bottom: 7px;
}

// サブイメージスタイル指定
#sub_image img {
  width: 80%;
  margin-bottom: 30px;
}

.sub_text {
  font-size: 20px;
  text-align: center;
}

// サービス紹介部分スタイル指定
#concept {
  font-size: 1.3em;
	text-align: center;
	margin-bottom: 30px;
}
 
#concept img {
  width: 80%;
  margin-bottom: 5px;
}

// サービス紹介Box指定
.service-text {
  font-size: 25px;
  font-weight: bold;
}

.easy-text {
  color: red;
  font-weight: bold;
  margin-bottom: 25px;
}

.reason-list {
  display: flex;
  justify-content: space-between;
}

.list-pict {
  width: 100%;
  margin-top: 10px;
}

.list-pict-max {
  width: 100%;
  margin-top: 40px;
}

.list {
  list-style: none;
}

.step-text {
  font-size: 1.5em;
  font-weight: bold;
}

.function-text {
  font-size: 22px;
}

.list-box {
  background-color: white;
  margin: 5px;
  position: relative;
}

.list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 55px;
  font-size: 30px;
  text-align: center;
  line-height: 55px;
  background-color: gray;
  color: #fff;
}

// TrainingMemoを始めよう部分スタイル指定
#start img {
  width: 80%;
}