// マイページのユーザーネーム）
.username {
  font-size: 30px;
  text-align: center;
  color: white;
}

// マイページのイメージ画像
.my-page-box {
  padding-bottom: 20px;
  background-image: image-url("my-page-image1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// ページ遷移選択ボタン
.run-btn {
  margin: 5px 8px;
}

//トレーニング保存・体組成保存・データを見るテキスト
.select-action {
  font-size: 25px;
  text-align: center;
}

// 各入力フォームのテキスト
.devise-form {
  font-size: 20px;
  margin: 4px;
}

// ログイン・新規登録の文字
.form-heading {
  text-align: center;
  margin: 10px 0 10px 0;
}

// ログインする/新規登録ボタン
.actions {
  padding-bottom: 20px;
}
// ログインページ/新規登録ページ遷移ボタン
.btn-info {
  margin-bottom: 20px;
}